.jumbotron {
	background-color: #2D67A3;
}

.jumbotron h1 {
	font-size: 24px;
	margin-top: 0;
}

.signin-login {
	margin: auto;
    width: 300px;
    border-radius: 5px;
    padding: 30px;
}

.signin-login  button {
	width: 100%;
}

.signin-login input {
	font-size: 20px;
}