.form-registration {
	width: 800px;
}

.jumbotron h1 {
	margin-top: 0;
}

.social-nav-wrapper {
	text-align: center;
}

.social-nav {
	margin: 0 auto;
	float: none;
	display: inline-block;
}

.social-nav > li {
	margin-right: 5px;
	
}

.social-nav > li .btn {
	width: 100px;
	text-align: center;
}

.errorSummary {
	color: #ff0000;
	font-size: 12px;
	line-height: 14px;
}