/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.search-form {
	margin-top: 12px;
}

.search-form  input[type=text]{
	height: 30px;
	font-size: 13px;
}


.search-form  button{
	border-radius: 0 15px 15px 0;
	border-left: none;
	height: 30px;
}

.jumbotron {
	font-size: 14px;
}

.jumbotron h1 {
	font-size: 24px;
}

.navbar-brand {
	padding-right: 25px;
}

h2 {
	font-size: 22px;
	margin-bottom: 22px;
}

.list-group .active a {
	color: #fff;
}

.hidden {
	display: none;
}

.form-white {
	margin: auto;
    width: 500px;

	background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 30px;
}

.form-newproject {
	width: 800px;
}

.ui-autocomplete.ui-front {
	z-index: 1040;
}