.jumbotron {
	font-size: 14px;
	padding-top: 24px;
	padding-bottom: 18px;
	border-bottom: 1px solid #CCCCCC;
}

.jumbotron h1 {
	margin-top: 8px;
	margin-right: 20px;
}


.main-container > .row > .col-md-3 {
	border-right: 1px solid #CCCCCC;
}

.main-container h2 {
	margin-top: 0;
}

.form-usetting {
	
}